@import "tailwindcss";
@source "../src";

@variant lg (@media (min-width: 1024px));
@variant sm (@media (min-width: 640px));
@variant md (@media (min-width: 768px));
@variant xl (@media (min-width: 1280px));
@variant 2xl (@media (min-width: 1536px));

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /*Farver */
  /* Neutral */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #000000;

  /* Grey */
  --color-grey-50: #f6f7f8;
  --color-grey-100: #eeeff2;
  --color-grey-200: #e0e2e6;
  --color-grey-300: #d1d5dc;
  --color-grey-400: #b5b9c4;
  --color-grey-500: #a1a5b3;
  --color-grey-600: #8b8fa1;
  --color-grey-700: #787a8b;
  --color-grey-800: #636471;
  --color-grey-900: #53555d;

  /* Blue */
  --color-blue-50: #ecfaff;
  --color-blue-100: #d4f2ff;
  --color-blue-200: #b2ebff;
  --color-blue-300: #7edeff;
  --color-blue-400: #41c9ff;
  --color-blue-500: #15a9ff;
  --color-blue-600: #0088ff;
  --color-blue-700: #016ffe;
  --color-blue-800: #0059cd;
  --color-blue-900: #0750a5;

  /*Typografi */
  --font-heading: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;

  --text-mobile-h1: 32px;
  --text-mobile-h2: 28px;
  --text-mobile-h3: 24px;
  --text-mobile-h4: 20px;
  --text-mobile-h5: 16px;
  --text-mobile-p: 14px;
  --text-mobile-tag: 12px;

  --text-desktop-h1: 48px;
  --text-desktop-h2: 40px;
  --text-desktop-h3: 36px;
  --text-desktop-h4: 24px;
  --text-desktop-h5: 18px;
  --text-desktop-p: 16px;
  --text-desktop-tag: 14px;

  /* CTA */
  --text-button-large-desktop: 20px;
  --text-button-small-desktop: 18px;
  --text-button-large-mobile: 14px;
  --text-button-small-mobile: 12px;

  /* Text */
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-50);
  --color-text-fade: var(--color-neutral-300);

  /* Button text */
  --color-text-button-primary: var(--color-neutral-50);
  --color-text-button-secondary: var(--color-neutral-900);

  /* Body */
  --color-body-primary: var(--color-neutral-50);

  /* Footer */
  --color-footer-primary: var(--color-grey-100);

  /* Banner */
  --color-banner-primary: var(--color-grey-100);

  /* Buttons */
  --color-button-primary-default: var(--color-blue-900);
  --color-button-primary-active: var(--color-grey-300);
  --color-button-primary-hover: var(--color-grey-400);

  --color-button-secondary-default: var(--color-neutral-900);
  --color-button-secondary-active: var(--color-grey-300);
  --color-button-secondary-hover: var(--color-grey-400);

  --color-border-primary: var(--color-grey-200);
  --color-border-secondary: var(--color-neutral-900);

  /* Spacing tokens */
  --spacing-section-mobile: 64px;
  --spacing-section-desktop: 86px;

  --spacing-main-top-desktop: 60px;
  --spacing-main-top-mobile: 40px;

  --spacing-margin-desktop: 40px;
  --spacing-margin-mobile: 16px;

  --spacing-h2-mobile: 40px;
  --spacing-h2-desktop: 48px;

  --spacing-button-large-desktop: 10px 20px;
  --spacing-button-small-desktop: 10px 16px;
  --spacing-button-large-mobile: 16px 20px;
  --spacing-button-small-mobile: 10px 16px;

  --spacing-grid-gap-desktop: 8px;
  --spacing-grid-gap-mobile: 6px;
}

@layer base {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
